{% extends "base.html" %}

{% block content %}

<table class="table">
    <div class="col-md-12">
        <div class="col-md-8 offset-md-3">
            {% include 'music/search_bar.html' %}
        </div>
    </div>
    {% for line in page_obj %}
        <tr>
            <td>
                <a href="{% url 'music:view-album' line.track.album.id %}">
                    <img width="75" src="{{ PATH_IMAGE }}/{{ line.track.album.code }}.avif" />
                </a>
            </td>
            <td>
                <a href="{% url 'music:index' %}?band={{ line.track.album.band.id }}">
                {{ line.track.album.band.name }}
                </a>
            </td>
            <td>
                <a href="{% url 'music:view-album' line.track.album.id %}">
                    {{ line.track.album.title }}
                </a><br />
                <span class="ratingverse">
                    {% for i in '12345'|make_list %}
                        <a {% if line.track.album.score > i|add:"-1" %}class="track_ok"{% endif %} href="{% url 'music:music-add-album-note' %}?album={{line.track.album.id}}&note={{i}}&url={{request.get_full_path}}" title="Donner {{i}} étoile">  {% if line.track.album.score > i|add:"-1" %}&#x2605;{% else %}&#9734;{% endif %}</a>
                    {% endfor %}
                </span>
            </td>
            <td>
                {{ line.track.title }}<br>
                <span>
                {% for i in '12345'|make_list %}
                    <a {% if line.track.score > i|add:"-1" %}class="track_ok"{% endif %} href="{% url 'music:music-add-track-note' %}?album={{line.track.album.id}}&track={{line.track.id}}&note={{i}}&url={{request.get_full_path}}" title="Donner {{i}} étoile">  {% if line.track.score > i|add:"-1" %}&#x2605;{% else %}&#9734;{% endif %}</a>
                {% endfor %}
                </span>
            </td>
            <td>{{ line.listening_date }}</td>
        </tr>
    {% endfor %}
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?{%if year is not None%}year={{year}}&{%endif%}{%if month is not None%}month={{month}}&{%endif%}page=1">&laquo; first</a>
        </li>
        <li class="page-item"><a class="page-link" href="?{%if year is not None%}year={{year}}&{%endif%}{%if month is not None%}month={{month}}&{%endif%}page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <span class="current">
        <li class="page-item"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span></li>
        </span>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?{%if year is not None%}year={{year}}&{%endif%}{%if month is not None%}month={{month}}&{%endif%}page={{ page_obj.next_page_number }}">next</a>
        </li>
            <li class="page-item"><a class="page-link" href="?{%if year is not None%}year={{year}}&{%endif%}{%if month is not None%}month={{month}}&{%endif%}page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}