{% extends "base.html" %}

{% block title %}{{ album.group.name | upper }} {{ album.title | title }} [{{ album.release_year }}]{% endblock %}

{% block content %}
    <div class="row"> 
        <div class="col-md-12">
            <div class="col-md-8 offset-md-3">
                {% include 'music/search_bar.html' %}
            </div>
        </div>

        <section class="col-md-4">
            <img class="img-fluid img-thumbnail" src="{{ PATH_IMAGE }}/{{ album.code }}.avif" />
        </section>
        
        <section class="col-md-3">
            <h3>
                <a href="{% url 'music:index' %}?band={{ album.band.id }}">{{ album.band.name | upper }}</a>
            </h3>

            <p>{{ album.title | title }}</p>

            <p>
                <a href="{% url 'music:index'  %}?date={{ album.release_year }}">{{ album.release_year }}</a>
            </p>
            <p>
                <span class="ratingverse">
                    {% for i in '12345'|make_list %}
                        <a {% if album.score > i|add:"-1" %}class="track_ok"{% endif %} href="{% url 'music:music-add-album-note' %}?album={{album.id}}&note={{i}}" title="Donner {{i}} étoile">  {% if album.score > i|add:"-1" %}&#x2605;{% else %}&#9734;{% endif %}</a>
                    {% endfor %}
                </span>
            </p>
        </section>

        <section class="col-md-5">
            <ul class="ratingverse">
                {% for track in album.tracks.all %}
                <li>
                    {{ track.order }} - {{ track.title }}
                    <span>
                        {% for i in '12345'|make_list %}
                            <a {% if track.score > i|add:"-1" %}class="track_ok"{% endif %} href="{% url 'music:music-add-track-note' %}?album={{album.id}}&track={{track.id}}&note={{i}}" title="Donner {{i}} étoile">  {% if track.score > i|add:"-1" %}&#x2605;{% else %}&#9734;{% endif %}</a>
                        {% endfor %}
                    </span>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}