{% extends "base.html" %}

{% block title %}{{ album.band.name | upper }} {{ album.title | title }} [{{ album.release_year }}]{% endblock %}

{% block content %}
    <div class="row"> 
        <div class="col-md-12">
            <div class="col-md-8 offset-md-3">
                {% include 'music/search_bar.html' %}
            </div>
        </div>

        <section class="col-md-12">
            <h3>
                <a href="{% url 'music:index' %}?band={{ album.band.id }}">{{ album.band.name | upper }}</a>
                - {{ album.title | title }}
                [<a href="{% url 'music:index'  %}?date={{ album.release_year }}">{{ album.release_year }}</a>]
            </h3>

            <p>
                <span class="ratingverse">
                    {% for i in '12345'|make_list %}
                        <a {% if album.score > i|add:"-1" %}class="track_ok"{% endif %} href="{% url 'music:music-add-album-note' %}?album={{album.id}}&note={{i}}" title="Donner {{i}} étoile">  {% if album.score > i|add:"-1" %}&#x2605;{% else %}&#9734;{% endif %}</a>
                    {% endfor %}
                </span>
                {% if album.get_count_review %}
                    {% with counter=album.get_count_review %}
                    {% for i in ""|ljust:counter %}
                    <a href="{% url 'music:view-review' %}?album={{ album.id }}&review={{ forloop.counter }}">
                        <i class="fa fa-industry" aria-hidden="true"></i>
                    </a>
                    {% endfor %}
                    {% endwith %}
                {% endif %}
            </p>
        </section>

        <section class="col-md-4">
            <img class="img-fluid img-thumbnail" src="{{ PATH_IMAGE }}/{{ album.code }}.avif" />
            {% for link in album.reviews.all %}
                <a href="{{link.link}}">{{link.name}}</a>
            {% endfor %}
        </section>

        <section class="col-md-8">
            <ul class="ratingverse">
                {% for track in tracks %}
                <li>
                    {% if track.withlyrics %}
                    <a href="{% url 'music:view-lyric'  %}?album={{ album.id }}&track={{ track.id }}">
                        {{ track.order }} - {{ track.title }} ({{ track.count_history }})
                    </a>
                    {% else %}
                        {{ track.order }} - {{ track.title }} ({{ track.count_history }})
                    {% endif %}
                    <a href="{% url 'music:add-lyric'  %}?album={{ album.id }}&track={{ track.id }}">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    </a>
                        <span>
                        {% for i in '12345'|make_list %}
                            <a {% if track.score > i|add:"-1" %}class="track_ok"{% endif %} href="{% url 'music:music-add-track-note' %}?album={{album.id}}&track={{track.id}}&note={{i}}" title="Donner {{i}} étoile">  {% if track.score > i|add:"-1" %}&#x2605;{% else %}&#9734;{% endif %}</a>
                        {% endfor %}
                    </span>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <div class="row">

        <div class="col-md-5">
            <form method="post" action="{% url 'music:add-link' album.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="link" class="form-label">Lien Web</label>
                    <input class="form-control" type="text" id="link" name="link" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="link" class="form-label">Nom</label>
                    <input class="form-control" type="text" id="name" name="name" />
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>
        <div class="col-md-7">
            <ul>
                {% for track in album.get_tracks_with_listenings %}
                <li>
                    {{ track.title }}
                    <ul>
                    {% for listening in track.listenings.all %}
                        <li>{{ listening.listening_date }}</li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}