{% extends "base.html" %}

{% block title %}{{ album.group.name | upper }} {{ album.title | title }} [{{ album.release_year }}]{% endblock %}

{% block content %}
    <div class="row"> 
        <section class="col-md-4">
            <img class="img-fluid img-thumbnail" src="{{ PATH_IMAGE }}/{{ album.code }}.jpg" />
        </section>
        
        <section class="col-md-4">
            <h3>
                <a href="{% url 'music:index' %}?band={{ album.band.id }}">{{ album.band.name | upper }}</a>
            </h3>
            <p>{{ album.title | title }}</p>
            <p>
                <a href="{# path_for('musicByYear', { 'year': album.release_year }) #}">{{ album.releaseDate }}</a>
            </p>
            <p>
                <a href="{# path_for('musicByNote', { 'note': album.score }) #}">{# include 'mp3/note.html' #}</a>
            </p>
        </section>

        <section class="col-md-4">
            <ul>
                {% for track in album.tracks.all %}
                <li>
                    {{ track.order }} - {{ track.title }}
                    <span class="ratingverse">
                        <a {# if track.score > 0 #}class="ok"{# endif #} href="{# path_for('musicAddTrackNote', { 'id': album.id, 'idTrack': track.order, 'note': 1 #) #}" title="Donner 1 étoile">☆</a>
                        <a {# if track.score > 1 #}class="ok"{# endif #} href="{# path_for('musicAddTrackNote', { 'id': album.id, 'idTrack': track.order, 'note': 2 #) #}" title="Donner 2 étoiles">☆</a>
                        <a {# if track.score > 2 #}class="ok"{# endif #} href="{# path_for('musicAddTrackNote', { 'id': album.id, 'idTrack': track.order, 'note': 3 #) #}" title="Donner 3 étoiles">☆</a>
                        <a {# if track.score > 3 #}class="ok"{# endif #} href="{# path_for('musicAddTrackNote', { 'id': album.id, 'idTrack': track.order, 'note': 4 #) #}" title="Donner 4 étoiles">☆</a>
                        <a {# if track.score > 4 #}class="ok"{# endif #} href="{# path_for('musicAddTrackNote', { 'id': album.id, 'idTrack': track.order, 'note': 5 #) #}" title="Donner 5 étoiles">☆</a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <!-- <script>
      let btn1 = document.getElementById("masquer");
      let divTrackScore = document.getElementsByClassName("ratingverse");

      function visibleNote(type) {
        btn1.innerHTML= type== "none" ? "afficher" : "masquer"
        for(let i=0; i < divTrackScore.length; i++){
          divTrackScore[i].style.display = type;
        }
      }

      let showNote= false
      if(!showNote) {
        visibleNote("none")
      }

      btn1.addEventListener("click", function(e) {
        showNote= !showNote;
        if(!showNote) {
          visibleNote("none")
        } else { 
          visibleNote("inline")
        }
      });
    </script> -->
{% endblock %}