{% extends "base.html" %}

{% block title %}Ajouter un lien sur {{ article.game.name }} {{ article.title_mag }} {{ article.num_mag }}{% endblock %}

{% block menu %}
    {% include "magazine/menu.html" %}
{% endblock %}

{% block content %}
<h1>{{article.game.name}} sur {{article.game.system.title}}</h1>
<form method="post" action="{% url 'magazine:add-link' article.id %}">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">Ajouter un lien</button>
</form>
{% endblock %}
