{% extends "base.html" %}

{% block content %}
    {% for article in articles %}
        <article>
            <h4>
                <a href="{% url 'magazine:view-article' 'id' article.id %}">{{ article.title }}</a>
                <a href="{% url 'magazine:view-article' 'id' article.id %}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
            </h4>

            <p>{{ article.preface | safe }}</p>

           {{ article.link | safe }}

        </article>

    {% endfor %}
{% endblock %}