<a href="{% url 'magazine:add-article' %}">Ecrire un article</a><br>
<a href="{% url 'magazine:view' article.slug %}">Voir l'article</a><br>
<a href="{% url 'magazine:add-link' article.id %}">Ajout Lien</a><br>
<a href="{% url 'magazine:add-paragraph' article.id %}">Ajout Paragraphe</a><br>
<a href="{% url 'magazine:add-insert' article.id %}">Ajouter un encart</a><br>
<a href="{% url 'magazine:add-photo' article.id %}">Ajouter une photo</a><br>
<a href="{% url 'magazine:add-score' article.id %}">Ajouter une note</a><br>
<a href="{% url 'magazine:add-opinion' article.id %}">Ajouter un commentaire</a><br>