{# Template pour voir les photographies dans les test magazine #}
{% for image in images %}
    {% if image.id_num == id %}
        <figure class="figure">
            <img
            {% if image.text != 'null' %}
                class="figure-img img-fluid rounded"
            {% endif %}
            src="http://vianneyba.free.fr/images/{{ dir }}/{{ image.link }}.jpg"
            alt="{{ image.text }}" />
        
            {% if image.text != 'null' %}
                <figcaption>
                {{ image.text }}
                </figcaption>
            {% endif %}
        </figure>
    {% endif %}
{% endfor %}
  