{% extends "base.html" %}

{% block content %}
<div class="row article-form">
    {% include "magazine/menu.html" %}
    
    <div class="col-md-10">
        <h1>{{article.game.name}} sur {{article.game.system.title}}</h1>

        <div class="col-md-12">
            <p>Article sur {{ article.num_page }} page{% if article.num_page > 1 %}s{% endif%}</p>
            <p>{{ article.preface }}</p>
            <p>dans le {{ article.title_mag }} numéro {{ article.num_mag }}</p>
        </div>
        
        <div class="col-md-12">
            {% for link in article.links.all %}
                <a href="{{ link }}">lien {{ forloop.counter }}</a><br>
            {% endfor %}
        </div>

        <div class="col-md-12">
            {% for paragraph in article.paragraph_set.all %}
                <h1>{{ paragraph.title }}</h1>
                <p>{{ paragraph.text }}</p>
            {% endfor %}
        </div>

        <h1>Encart</h1>
        <div class="col-md-12">
            {% for insert in article.inserts.all %}
                <h1>
                    {{ insert.title }}
                    <a href="{% url 'magazine:add-photo-insert' article.id insert.id %}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                </h1>
                <p>{{ insert.text }}</p>
            {% endfor %}
        </div>

        <div class="col-md-12">
            {% for photo in article.photoarticle_set.all %}
                <p>{{ photo.link }}</p>
                <p>{{ photo.text }}</p>
            {% endfor %}
        </div>

        <div class="col-md-12">
            <h1>OPINION</h1>
            <div class="row">

                {% for opinion in article.opinions.all %}
                <div class="col-md-6">
                    <h5>{{ opinion.tester }}</h5>
                    <p>{{ opinion.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <table class="col-md-12">
            {% for score in article.score_set.all %}
            <tr>
                <td>{{ score.title | upper }}</td>
                <td>{{ score.score }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ score.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
