{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %}{{ article.title }}{% endblock title %}


{% block banner %}
{% if  article.banner is not None %}
<img class="img-fluid" src="{{ article.banner }}" alt="{{ article.title }}_banner" width="1300" height="300">
{% else %}
<img class="img-fluid" src="{% static '/img/banniere.png' %}" alt="ma bannière">
{% endif %}
{% endblock %}

{% block content %}
{# include 'magazine/partial/menu_article.html' with my_id=my_id #}
{{ article.content | safe }}
{% endblock %}