{% load markdown_extras %}

<div class="comments">
	<div class="comments-header">
		<h2 class="comment-reply-title">
			{{ article.count_comments }} commentaire{% if article.count_comments > 1 %}s{% endif%} sur cette article.
		</h2>
	</div>
	
	{% if WITH_COMMENT or perms.comment.add %}
		{% include 'comment/add-comment.html' %}
	{% endif %}

	{% for comment in comments %}
		<div class="comment">
			<div>
				<span class="comment-author">{{ comment.author.username }}</span>, il y à {{ comment.created_at | timesince }}
				{% if user == comment.author %}
				<a href="{% url 'comment:update' article.id comment.id %}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
				{% endif %}
			</div>

			{% include 'like_dislike/view-like.html' with type='comment' id_likable=comment.id comment=comment %}

			<div class="comment-content">
				{{ comment.content | markdown | safe }}
			</div>
		</div>
	{% endfor %}
</div>