<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{# url 'magazine:write-article' #}">Ecrire</a>
        {% if my_id %}
            <a class="navbar-brand" href="{% url 'magazine:update-article' my_id %}">Modifier</a>
            <a class="navbar-brand" href="{% url 'magazine:view-export' my_id %}">Exporter</a>
        {% endif %}
        <a class="navbar-brand" href="{# url 'magazine:write-article' #}">Lister</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline" action="{% url 'magazine:search-article' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <details>
                <summary>Details</summary>
                code== pour voir un article ini<br>
                url== pour voir par rapport a l'url de la page
              </details>
        </form>
    </div>
</nav>