{% extends "base.html" %}
{% block content %}
    <form class="col-md-6 offset-md-3" action=""  method="get">
        <div class="form-group">
            <label for="inputSearch">recherche</label>
            <input type="text" name="search" class="form-control" id="inputSearch" placeholder="Votre Recherche">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" href="{% url 'game:list-game'%}">Reset</a>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col"></th>
                <th scope="col">System</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td><a href="{% url 'game:run-game' game.id %}">{{ game.name }}</a></td>
                <td>
                    <a href="{% url 'game:run-game' game.id %}">
                    <img src="http://192.168.1.22/game/screenmarqueesmall/{{ game.id }}_screenmarqueesmall.png" alt="{{ game.name }}">
                    </a>
                </td>
                <td><a href="?system={{ game.system.slug }}">{{ game.system.title }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if games.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ games.previous_page_number }}{{ url }}">Previous</a></li>
            {% endif %}
            <li class="page-item">Page {{ games.number }} of {{ games.paginator.num_pages }}.</li>
            {% if games.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ games.next_page_number }}{{ url }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
</body>
</html>