{% extends "base.html" %}
{% block content %}
    <form class="col-md-6 offset-md-3" action=""  method="get">
        <div class="form-group">
            <label for="inputSearch">recherche</label>
            <input type="text" name="search" class="form-control" id="inputSearch" placeholder="Votre Recherche">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" href="{% url 'game:list-game'%}">Reset</a>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col"></th>
                <th scope="col">System</th>
            </tr>
        </thead>
        <tbody>
            {% for game in page_obj %}
            <tr>
                <td><a href="{% url 'game:run-game' game.id %}">{{ game.name }}</a></td>
                <td>
                    <a href="{% url 'game:run-game' game.id %}">
                    <img src="{{URL_IMAGE}}/{{ game.sc_id }}_screenmarqueesmall.png" alt="{{ game.name }}">
                    </a>
                </td>
                <td><a href="?system={{ game.system.slug }}">{{ game.system.title }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'paginator.html' %}
{% endblock %}
</body>
</html>