@charset "UTF-8";

$color_F1: #ABBCDA;
$color_F2: #5A6477;
$color_F3: #30343C;
$color_F4: #0F1218;
$color_F5: #030407;
$color_F6: #524347;
$color_red: #F2504B;
$color_red_2: #530c0a;
$vert: #63B96B;

$transparent_color: rgba(0, 0, 0, 0.5);
$border-radius: 15px;

@mixin border-r($top, $bottom) {
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
    background-color: $transparent_color;
    border: 2px $color_F2 solid;
    border-radius: $top $top $bottom $bottom;
}

html {
    height: 100%;
}
body {
    background: $color_F1;
    color: $color_F5;
    background-image: url(../img/background.jpg);
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    text-align: left;
}
a {
    text-decoration: none;
    color: $color_F1;
    &:hover {
      text-decoration: none;   
    }
}
header {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    img {
            border-radius: 15px;
        }
}

.content {
    background: $color_F5;
    color: $color_F1;
    min-height: 100vh;
    padding: 10px;
}

article {
    margin: 20px 25px;
    .article-contenu {
        padding: 0px 40px 0px 40px;
    }
    .read_more {
        border: none;
        padding: 0px;
        display: inline-block;
        background: transparent;
        margin: 10px 0px 20px 10px;
    }
    .article-footer {
        margin: 15px auto;
    }
    .entry-title{
        text-align: center;
    }
    .entry-category {
        text-align: center;
        .badge {
            font-size: 0.9rem;
        }
    }
    .entry-meta {
        text-align: center;
    }
    .entry-next {
        font-size: 0.9rem;
        float: right
    }
    .avis {
        @include border-r($border-radius, $border-radius);
        background-color: $color_F3;
        padding: 10px;
        h1 {
            color: $color_F6;
            text-align: center;
            font-size: 1.3rem;
        }
    }
    .insert {
        @include border-r($border-radius, $border-radius);
        background-color: $color_F3;
        padding: 10px;
        margin: 10px;
    }
    .entry-article{
        button {
            margin: 10px;
        }
    }
}

.score_table {
    @include border-r($border-radius, $border-radius);
    border: 2px solid;
    border-color: $color_red;
    .tr_master {
        color: $color_red;
        background-color: $color_red_2;
    }
    .score {
        font-size: 1.3rem;
        text-align: right;
    }
    td {
        border-top: 1px solid $color_red;
    }
}

// Partie VOTE
.vote {
    margin-left: 20px;
    i {
        color: $color_red;
        padding: 4px;
    }
    .vote_bar {
        display: inline-block;
        border: 1px solid rgb(230, 201, 201);
        border-radius: 10px;
        width: 90px;
        padding: 3px;
        margin-left: 3px;
        text-align: center;
        .vote_red {
            height: 5px;
            background: $color_red;
            .vote_progress {
                width: 0%;
                height: 5px;
                background: $vert;
            }
        }
    }
}

.disabled-link {
    pointer-events: none;
    i {
        color: $color_F1;
    }
}

.vote_btns {
    margin-top: 10px;
    text-align: right;
}

.vote_btn {
    border: none;
    padding: 0;
    display: inline-block;
    margin: 0 0 0 10px;
    cursor: pointer;
    background: transparent;
    transition: 0.3s;
}

.vote_like:hover, .is-liked  .vote_like{
    color: $vert;
}

.vote_dislike:hover, .is-disliked  .vote_dislike{
    color: $color_red;
}

form {
    margin: 15px 0px;
    input {
        margin: 6px 0px; 
    }
    .btn-primary {
        margin: 10px auto; 
    }
}

.separator {
    margin: 25px auto; 
    height: 3px;
    width: 50%;
    border: none;
    box-shadow: none;
    background-color: white;
}

.paginator {
    margin: auto;
    width: 25%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      display: block;
      text-decoration: none;
    }
  }

.comments {
    margin-top: 25px;
    .comment-reply-title {
        font-size: 1.5rem;
        text-align: center;
    }
    .comment {
        @include border-r($border-radius, $border-radius);
        .comment-content {
            margin: 10px 20px;
        }
        .comment-author {
            text-transform: capitalize;
        }
    }
}

.block-login {
    width: 40%;
    margin: auto;
    input {
        margin-left: 10px;
    }
}

.article-form {
    width: 70%;
    margin: auto;
}

#banner {
    img {
        display:block;
        margin: auto;
    }
}

.error_page {
    margin: 50px auto;
    width: 60%;
    text-align: center;
    h1 {
        text-transform: uppercase;
    }
    .btn_return {
        margin: auto;
        width: 30%;
    }
}

.insert-article {
    @include border-r($border-radius, $border-radius);
}

.form_title_suggestion {
    display: block;
    button {
        width: auto;
     }
}
