html {
  height: 100%; }

body {
  background: #ABBCDA url("../img/background.avif") fixed;
  color: #030407;
  font-size: 87.5%;
  font-family: "Trebuchet MS", Trebuchet, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 1.429;
  margin: auto;
  padding: 0;
  text-align: left;
  max-width: 1440px;
  min-width: 1000px; }

a {
  text-decoration: none;
  color: #ABBCDA; }
  a:hover {
    text-decoration: none; }

header {
  margin: 0 auto;
  padding: 10px 0; }
  header img {
    border-radius: 15px; }

.separator {
  margin: 25px auto;
  height: 3px;
  width: 50%;
  border: none;
  box-shadow: none;
  background-color: #c7c8ca; }

.content {
  background: #030407;
  color: #ABBCDA;
  min-height: 80vh;
  padding: 10px; }

#banner img {
  display: block;
  margin: auto; }

.paginator {
  margin: auto;
  width: 25%; }
  .paginator ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
  .paginator li {
    display: inline-block; }
  .paginator a {
    display: block;
    text-decoration: none; }

article {
  margin: 20px 25px; }
  article ul {
    list-style-type: disc; }
  article .entry-content {
    background: #30343C;
    padding: 0 40px;
    border: 2px solid #5A6477;
    border-radius: 15px; }
  article .entry-title {
    text-align: center; }
  article .entry-meta {
    text-align: center; }
  article .entry-cat-tag {
    text-align: center; }
  article .entry-category {
    text-align: center; }
    article .entry-category .badge {
      font-size: 0.9rem; }
  article .entry-next {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end; }
  article .entry-articl button {
    margin: 10px; }
  article .article-contenu {
    padding: 0 40px; }
  article .read_more {
    border: none;
    padding: 0;
    display: inline-block;
    background: transparent;
    margin: 10px 0 20px 10px; }
  article .article-footer {
    margin: 15px auto; }
  article .footer-article {
    margin-top: 20px;
    margin-left: 40px; }
  article .article_avis {
    padding: 10px 15px;
    background-color: #30343C;
    border: 2px solid #5A6477;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin-bottom: 10px; }
    article .article_avis h1 {
      color: #524347;
      font-size: 1.5rem; }
    article .article_avis .avis_avis {
      color: #F2504B; }
    article .article_avis .avis_author {
      margin-right: 15px;
      color: #63B96B; }
  article .signature {
    display: block;
    text-align: right;
    font-size: 1.4rem;
    color: #530c0a;
    font-weight: bold; }
  article .article_plus, article .article_moins {
    padding-left: 35px;
    color: #63B96B;
    list-style: none; }
    article .article_plus li::before, article .article_moins li::before {
      content: "+ "; }
  article .article_moins {
    color: #F2504B; }
    article .article_moins li::before {
      content: "- "; }
  article .article_note ul {
    list-style: none; }
  article .encart {
    border: 8px double #1d5d79;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 5px; }
    article .encart h3,
    article .encart p {
      text-align: center; }
    article .encart img {
      padding: 2px; }
  article .paragraphe {
    margin: 25px 0; }
    article .paragraphe h4 {
      font-size: 1.5rem;
      text-transform: capitalize;
      text-align: left;
      margin: 25px 0 5px 10px; }
  article .intro {
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
    color: #F2504B;
    padding: 0 50px; }
  article .insert {
    padding: 10px 15px;
    background-color: #30343C;
    border: 2px solid #5A6477;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin: 10px; }
  article a {
    color: #524347; }

.score_table {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #F2504B;
  border-radius: 15px 15px 15px 15px;
  border: 2px solid #F2504B; }
  .score_table .tr_master {
    color: #F2504B;
    background-color: #530c0a; }
  .score_table .score {
    font-size: 1.3rem;
    text-align: right; }
  .score_table td {
    border-top: 1px solid #F2504B; }
  .score_table th {
    font-size: 1.5rem;
    text-align: center; }

.vote {
  margin-left: 20px; }
  .vote i {
    color: #F2504B;
    padding: 4px; }
  .vote .vote_bar {
    display: inline-block;
    border: 1px solid #e6c9c9;
    border-radius: 10px;
    width: 90px;
    padding: 3px;
    margin-left: 3px;
    text-align: center; }
    .vote .vote_bar .vote_red {
      height: 5px;
      background: #F2504B; }
      .vote .vote_bar .vote_red .vote_progress {
        width: 0;
        height: 5px;
        background: #63B96B; }

.disabled-link {
  pointer-events: none; }
  .disabled-link i {
    color: #ABBCDA; }

.vote_btns {
  margin-top: 10px;
  text-align: right; }

.vote_btn {
  border: none;
  padding: 0;
  display: inline-block;
  margin: 0 0 0 10px;
  cursor: pointer;
  background: transparent;
  transition: color 0.3s; }

.vote_like:hover,
.is-liked .vote_like {
  color: #63B96B; }

.vote_dislike:hover,
.is-disliked .vote_dislike {
  color: #F2504B; }

form {
  margin: 15px 0; }
  form input {
    margin: 6px 0; }
  form .btn-primary {
    margin: 10px; }

.form_title_suggestion {
  display: block; }
  .form_title_suggestion button {
    width: auto; }

.comments {
  margin-top: 25px; }
  .comments .comment-reply-title {
    font-size: 1.5rem;
    text-align: center; }
  .comments .comment {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #5A6477;
    border-radius: 15px 15px 15px 15px; }
    .comments .comment .comment-content {
      margin: 10px 20px; }
    .comments .comment .comment-author {
      text-transform: capitalize; }

.block-login {
  width: 40%;
  margin: auto; }
  .block-login input {
    margin-left: 10px; }

.article-form {
  width: 70%;
  margin: auto; }

.error_page {
  margin: 50px auto;
  width: 60%;
  text-align: center; }
  .error_page h1 {
    text-transform: uppercase; }
  .error_page .btn_return {
    margin: auto;
    width: 30%; }

.insert-article {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #5A6477;
  border-radius: 15px 15px 15px 15px; }

.ratingverse {
  text-indent: -9%; }
  .ratingverse li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .ratingverse .track_ok {
    color: red;
    font-size: 2rem; }

.with_border {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #5A6477;
  border-radius: 15px 15px 15px 15px; }

.poll {
  color: black;
  background: #ABBCDA;
  margin: 32px 0;
  padding: 10px;
  border: 10px solid #c7c8ca;
  border-radius: 15px; }

/*# sourceMappingURL=style.css.map */
