
<div class="poll" data-poll="{{ poll.slug }}">

  <h3>{{ poll.question }}</h3>

  {% if poll.description %}
  <p class="text-gray-600 mb-4">{{ poll.description | safe }}</p>
  {% endif %}

  {# Cas 1 : sondage fermé #}
  {% if not poll.is_open %}
    <div class="text-red-600 font-semibold mb-4">
      Ce sondage est fermé.
    </div>
    {% if poll.show_results_after_vote %}
      {% include "polls/_results.html" %}
    {% endif %}

  {# Cas 2 : utilisateur a déjà voté #}
  {% elif has_voted %}
    <div class="text-green-700 font-semibold mb-4">
      Vous avez déjà voté à ce sondage.
    </div>
    {% if poll.show_results_after_vote %}
      {% include "polls/_results.html" %}
    {% endif %}
  
  {# Cas 4 : si on doit être connecté #}
  {% elif require_login and not user.is_authenticated  %}
    <p>
      vous devez soit vous 
      <button type="button" class="btn btn-primary"><a href="{% url 'authenticate:login' %}">connecter</a></button>
      ou vous
      <button type="button" class="btn btn-primary"><a href="{% url 'authenticate:register' %}">inscrire</a></button>
      pour pouvoir repondre au sondage.
    </p>
    
    {# Cas 4 : formulaire normal #}
  {% else %}
      {% if poll.show_results_before_vote %}
        {% include "polls/_results.html" %}
      {% endif %}

    <form  class="poll-form" method="post" action="{% url 'polls:vote' poll.slug %}">
      {% csrf_token %}

      {% if poll.poll_type == 'single' %}
        {% for choice in poll.choices.all %}
        <label class="poll-choice">
          <input type="radio" name="choice" value="{{ choice.id }}" required>
          {{ choice.label }}
        </label>
        {% endfor %}

      {% elif poll.poll_type == 'multiple' %}
        {% for choice in poll.choices.all %}
        <label class="block mb-2">
          <input type="checkbox" name="choice" value="{{ choice.id }}">
          {{ choice.label }}
        </label>
        {% endfor %}

      {% elif poll.poll_type == 'free' %}
        <textarea name="free_text"
                  class="w-full border rounded p-2"
                  rows="4"
                  placeholder="Votre réponse..."
                  required></textarea>
      {% endif %}

      <button type="submit" class="poll-submit">
        Voter
      </button>
    </form>
  {% endif %}
</div>