{# Vue qui liste les articles #}
{# utilisé par l'index #}

{% extends "base.html" %}
{% load markdown_extras %}

{% block content %}
	
	{% if articles %}
		{% for article in articles %}
			{% include 'blog/view-article-in-list.html' with loop="loop" %}

			{% if not forloop.last %}
				<hr class="separator">
			{% endif %}

		{% endfor  %}

		<div class="col-md-12">
			<div class="col-md-4 offset-md-4">
				{% include 'paginator.html' %}
			</div>
		</div>

	{% else %}
		<article>
			<p> aucun article a afficher</p>
		</article>
	{% endif %}

{% endblock %}