{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %}{{ article.title }}{% endblock title %}

{% block banner %}
{% if  article.banner != "" %}
    <img class="img-fluid" src="{{ article.banner }}" alt="{{ article.title }}_banner" width="1300" height="300">
{% else %}
    <img class="img-fluid" src="{% static '/img/banniere.png' %}" alt="ma bannière">
{% endif %}
{% endblock %}

{% block content %}
<article class="content-article">
    <header class="header-article">
        <div class="read-more">
            Posté par
            <a href="{% url 'blog:by-author' article.author.username %}">{{ article.author.username }}</a>
            il y à {{ article.created_at | timesince }}
        </div>

        {% include 'like_dislike/view-like.html' with type='article' id_likable=article.id %}
    </header>
    
    <section class='article'>
        <h1 class="entry-title">{{ article.title }}</h1>
        <div class="entry-content">
            {{ article.content | safe }}
        </div>
    </section>
    
    <footer class="footer-article">
        <div class="tags-and-categories">
            Catégorie: 
            <a href="{% url 'blog:by-category' article.category.slug %}">{{ article.category.name }}</a>
            | Dans: 
            {% if article.tags %}
                {% for tag in article.tags.all %}
                    <a href="{% url 'blog:by-tag' tag.slug %}">{{ tag.name }}</a>
                {% endfor %}
            {% endif %}
             {# | <a href="{% url 'blog:by-slug' article.slug %}" rel="bookmark" title="Permalink to {{ article.title | striptags }}">Permalink</a> #}
        </div>
    </footer>

    {% if article.articles_mag %}
        {% for art in article.articles_mag.all %}
            <div class="insert-article">
                {% include "magazine/article/"|add:art.slug|add:".html" with article=art %}
            </div>
        {% endfor %}
    {% endif %}

    {% include 'comment/view-comment-list.html' %}

</article>
{% endblock %}
