{% load markdown_extras %}

<article class="row">
    <div class="col-sm-12 col-md-12">
    	<div class="entry-category">
			<a class="badge badge-secondary" href="{% url 'blog:by-category' article.category.slug %}">{{ article.category.name }}</a>
			{% if article.author.id == user.id %}
				<a href="{% url 'blog:update-article' article.id %}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
				{% if article.published is not True %}
					<a href="{% url 'blog:publish-article' article.id True %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
				{% else %}
					<a href="{% url 'blog:publish-article' article.id False %}"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
				{% endif %}
			{% endif %}
		</div>

		<h1 class="entry-title">
			<a class="img-fluid" href="{% url 'blog:by-slug' article.slug %}">{{ article.title }}</a>
      	</h1>

		<div class="entry-meta">
			<h5>
            	<i class="fa fa-calendar-o" aria-hidden="true"></i>
				<span>{{ article.created_at | date:'d/m/Y' }}</span>
				<i class="fa fa-user" aria-hidden="true"></i>
				<a href="{% url 'blog:by-author' article.author.username %}">
					<span>{{ article.author.username }}</span>
				</a>
			</h5>
		</div>

		<div class="entry-article">
			{{ article.view_content | markdown | safe | truncatewords_html:80 }}
			<button class="btn btn-secondary entry-next">
				<a href="{% url 'blog:by-slug' article.slug %}">Lire la suite</a>
			</button>
		</div>
      
		<div class="entry-tags">
			<i class="fa fa-tag" aria-hidden="true"></i>
			{% for tag in article.tags.all %}
				<a class="badge badge-secondary" href="{% url 'blog:by-tag' tag.slug %}">{{ tag.name | title }}</a>
			{% endfor %}
		</div>
	</div>
</article>