{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %}{{ article.title }} — {{ TITLE_SITE }}{% endblock %}

{% block banner %}
  {% if article.banner %}
    <img class="img-fluid banner-img" src="{{ article.banner }}" alt="{{ article.title }}">
  {% else %}
    <img class="img-fluid banner-img" src="{% static 'img/banniere.avif' %}" alt="Bannière">
  {% endif %}
{% endblock %}

{% block content %}
<article class="content-article">
  <header class="header-article">
    <p class="read-more">
      Posté par
      <a href="{% url 'blog:by-author' article.author.username %}">{{ article.author.username }}</a>
      il y a {{ article.created_at|timesince }}
    </p>
    {% include 'like_dislike/view-like.html' with type='article' id_likable=article.id %}
  </header>

  <section class="article">
    <h1 class="entry-title">{{ article.title }}</h1>
    <div class="entry-content">
      {{ article.content|safe }}
    </div>
  </section>

  <footer class="footer-article">
    <div class="tags-and-categories">
      Catégorie :
      <a class="chip chip-cat" href="{% url 'blog:by-category' article.category.slug %}">{{ article.category.name }}</a>
      {% for tag in article.tags.all %}
        <a class="chip" href="{% url 'blog:by-tag' tag.slug %}">{{ tag.name }}</a>
      {% endfor %}
    </div>
  </footer>

  {% if WITH_COMMENT %}
    {% include 'comment/view-comment-list.html' %}
  {% endif %}
</article>
{% endblock %}