{% load like_extras %}

{% if user.id %}
<div class="vote">
  <a class="vote-btn vote-like {% disabled_link id_likable user type True %}"
     href="{% url 'like_dislike:add-like' %}?type={{ type }}&pk={{ id_likable }}&choice=true"
     title="Like">
    <i class="fa fa-heart" aria-hidden="true"></i>
  </a>

  <a class="vote-btn vote-dislike {% disabled_link id_likable user type False %}"
     href="{% url 'like_dislike:add-like' %}?type={{ type }}&pk={{ id_likable }}&choice=false"
     title="Dislike">
    <i class="fa fa-heartbeat" aria-hidden="true"></i>
  </a>

  {% if type == 'article' %}
    <div class="vote_bar" role="meter"
         aria-valuemin="0" aria-valuemax="100"
         aria-valuenow="{{ progress_bar }}"
         title="{{ progress_bar }}% likes">
      <div class="vote_progress" style="width: {{ progress_bar }}%;"></div>
    </div>
  {% endif %}
</div>
{% endif %}