{% if user.id %}
<div class="vote">
    <a class="{% if like.is_like is True %}disabled-link{% endif %}" href="{% url 'like_dislike:add-like' %}?type=article&pk={{article.id}}&choice=true">
        <i class="fa fa-heart" aria-hidden="true"></i>
    </a>

    <a class= "{% if like.is_like is False %}disabled-link{% endif %}" href="{% url 'like_dislike:add-like' %}?type=article&pk={{article.id}}&choice=false">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
    </a>

    <div class="vote_bar">
        <div class="vote_red">
            <div class="vote_progress" style="width:{{ progress_bar }}%;"></div>
        </div>
    </div>
</div>
{% endif %}