{% load static %}
<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static '/css/style.css' %}">
		<meta property="article:author" content="{% block author %}{% endblock %}">
		<title>{% block title %}{{ TITLE_SITE }}{% endblock %}</title>
		<script>
			{% block js %}{% endblock %}
		</script>
	</head>

<body>
	{% include "navbar.html" %}

	<div class="container content">
		<header id="banner" class="container-fluid">
			{% block banner %}
				<img class="img-fluid" src="{% static '/img/banniere.avif' %}" alt="ma bannière">
			{% endblock %}
		</header>


		<div class="row">
			{% if view_menu == True %}
				<div class="col-md-3">
					{% block menu %}{% endblock %}
				</div>
				<div class="col-md-9">
			{% else %}
				<div class="col-md-12">
			{% endif %}
				{% block content %}{% endblock %}
				</div>

		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>