{% macro get_grid_class(photos_count, max_per_row=3) %}
    {% if photos_count >= max_per_row %}col-md-{{ 12 // max_per_row }}{% else %}col-md-{{ 12 // photos_count }}{% endif %}
{% endmacro %}

{% macro render_encart_no_photo(titre, texte, _class) %}
<div{% if _class.bootstrap %} class="{{_class.bootstrap}}"{% endif %}>
    <div class="encart{% if _class.class %} {{_class.class}}{% endif %}">
        <h3>{{ titre }}</h3>
        <p>{{ texte }}</p>
    </div>
</div>
{% endmacro %}

{% macro render_encart_photos(encart, _class) %}
<div{% if _class.bootstrap %} class="{{_class.bootstrap}}"{% endif %}>
    <div class="row encart">
        <div class="col-md-12{% if _class.class %} {{_class.class}}{% endif %}">
            <h3>{{ encart.titre }}</h3>
            <p>{{ encart.texte }}</p>
        </div>

        {% for photo in encart.photos %}
        <div class="{{ get_grid_class(encart.photos|length) }}">
            <figure class="">
                <img src="{{photo.src}}" alt="{{photo.alt}}" class="img-fluid">
                <figcaption>{{photo.texte}}</figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro render_encart_one_photo(encart, _class) %}
<div{% if _class.bootstrap %} class="{{_class.bootstrap}}"{% endif %}>
    <div class="row encart">
        <div class="col-md-8{% if _class.class %} {{_class.class}}{% endif %}">
            <h3>{{ encart.titre }}</h3>
            <p>{{ encart.texte }}</p>
        </div>

        <div class="col-md-4">
            <figure class="">
                <img src="{{encart.photos.0}}" alt="{{encart.photos.1}}" class="img-fluid">
                <figcaption>{{photo.1}}</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endmacro %}