<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'blog:index' %}">{{ TITLE_SITE }}</a>
		
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			{% if user.is_active and user.is_staff %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Mon Compte
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'blog:add-article' %}">Rédiger</a>
						<a class="dropdown-item" href="{% url 'game:list-game'%}">launch</a>
					{% if user.is_superuser %}
						<a class="dropdown-item" href="{% url 'magazine:add-article' %}">Ajout Article Mag</a>
						<a class="dropdown-item" href="{% url 'music:index' %}">Musique</a>
						<a class="dropdown-item" href="{% url 'magazine:export' %}">Export Article</a>
						<a class="dropdown-item" href="{% url 'magazine:list-articles' %}">Liste Test</a>
					{% endif %}
					{# <a class="dropdown-item" href="{ path_for('profil') }">Profil</a> #}
					<a class="dropdown-item" href="{% url 'blog:by-author' user.username %}?view=all">Mes Articles</a>
					{# <a class="dropdown-item" href="{ path_for('userComment') }">Mes Commentaires</a> #}
				</div>
			</li>
			{% endif %}
			{# { endif %} #}

			{# { if session.auth.id == 1 or session.auth.id == 3 %} #}
				{# <li class="nav-item"><a class="nav-link" href="{ path_for('quizz') }">Quizz</a></li> #}
      		{# { endif %} #}
      
      {# { if session.auth.isAdmin %} #}
        {# <li class="nav-item"><a class="nav-link" href="{ path_for('adminChmod') }">Admin</a></li> #}
      {# { endif %} #}
		</ul>  

		<ul class="navbar-nav mr-auto">
			{% for category in CATEGORIES %}
			<li class="nav-item"><a class="nav-link" href="{% url 'blog:by-category' category.0 %}">{{ category.1 | upper }}</a></li>
			{% endfor %}
		</ul> 	      
		
		{# <form class="form-inline my-2 my-lg-0" method="get" action=" path_for('articleSearch') }"> #}
			{# <div class="input-group"> #}
				{# <input class="form-control mr-sm-2" type="text" class="form-control" placeholder="Recherche" name="search"> #}
				{# <div class="input-group-btn"> #}
					{# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button> #}
				{# </div> #}
			{# </div> #}
		{# </form> #}

		{% if WITH_REGISTRATION %}
		<button class="btn btn-outline-success ml-2 my-2 my-sm-0 btn-connect">
			{% if user.username %}
			<a class="link-unstyled" href="{% url 'authenticate:logout' %}">Déconnexion</a>
			{% else %}
			<a class="link-unstyled" href="{% url 'authenticate:login' %}">Connexion</a>
			{% endif %}
		</button>
		{% endif %}
	</div>
</nav>