{% macro render_block_photo(photos, _class, with_txt) %}

{% set nb_photos = photos|length %}
{% set col_md = (12 / nb_photos)|round(0, 'floor')|int %}
{% set col_md_value = col_md %}

<div class="row block-photos{% if _class.bootstrap %} {{_class.bootstrap}}{% endif %}">
    {% for photo in photos %}

        {% set col_value = 6 %}
        {% if nb_photos == 1 %}
            {% set col_value = 12 %}
        {% endif %}
        <div class="col-md-{{ col_md_value }} col-{{ col_value }}">
            {% if photo.texte %}<figure>{%endif%}
                <img src="{{photo.src}}" alt="{{photo.alt}}" class="img-fluid">
                {% if photo.texte %}<figcaption>{{photo.texte}}</figcaption>{%endif%}
            {% if photo.texte %}</figure>{%endif%}
        </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_photo(photo, _class) %}
<div{% if _class.bootstrap %} class="{{_class.bootstrap}}"{% endif %}>
    <figure{% if _class.class %} class="{{_class.class}}"{% endif %}>
        <img src="{{photo.src}}" alt="{{photo.alt}}" class="img-fluid">
        {% if photo.texte %}<figcaption>{{photo.texte}}</figcaption>{%endif%}
    </figure>
</div>
{% endmacro %}

{% macro render_1plus2sur4(photos, _class) %}

<div class="row">

    <div class="col-md-8">
        {{ render_photo(photos.0, None) }}
    </div>
    <div class="col-md-4">
        {{ render_photo(photos.1, {"bootstrap":"col-md-12"}) }}
        {{ render_photo(photos.2, {"bootstrap":"col-md-12"}) }}
    </div>

    <div class="col-md-12">
        <div class="row">
            {{ render_photo(photos.3, {"bootstrap":"col-md-3"}) }}
            {{ render_photo(photos.4, {"bootstrap":"col-md-3"}) }}
            {{ render_photo(photos.5, {"bootstrap":"col-md-3"}) }}
            {{ render_photo(photos.6, {"bootstrap":"col-md-3"}) }}
        </div>
    </div>
</div>

{% endmacro %}